@import "tailwindcss";

:root {
  --primary: #7DD3FC;
  --secondary: #86A789;
  --tertiary: #FCD34D;
  --neutral: #0F172A;
  --card-bg: #171f33;
  --announcement-bg: #1f2f36;
  --announcement-h3: #aad0ae;
}

@theme inline {
  --color-background: var(--neutral);
  --color-foreground: #fff;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-card-bg: var(--card-bg);
  --color-announce-bg: var(--announcement-bg);
  --color-announce-h3: var(--announcement-h3);
  
  --font-montserrat: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--neutral);
    --foreground: #ededed;
  }
}

body {
  background: var(--neutral);
  color: #ededed;
  font-family: var(--font-montserrat);
}
